html{
    box-sizing: border-box;
}



*, *::before, *::after {
    box-sizing: inherit;
}

header{
    background-color: lightgrey;
}

body{
    background-color: lightslategray;
    margin: 0;
}

.board{
    width: 800px;
    height: 800px;
    margin: auto;
    border: 20px solid black;
    padding: 50px;
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}


:root {
    --light-square: #B97A57;
    --dark-square: #660000;
}

.light{
    background-color: var(--light-square);
    color: white;
}
.dark{
    background-color: var(--dark-square);
    color: white;
}

.square{
    position: relative;
}

.rank{
    position: absolute;
    top: 2px;
    left: 2px;
}
.file {
    position: absolute;
    bottom: 2px;
    right: 2px;
}